{{!< layouts/main}} 

    {{#content "main" }} 
    
    <form class="needs-validation" novalidate action="/signup" method="POST">
    <!-- Your signup form content goes here -->
    <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>

    <form class="needs-validation" novalidate action="/login" method="POST">
        <!-- Your login form content goes here -->
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    {{/content}}