{{!< layouts/main}} 

{{#content "main" }} 
    <h1>Hello, {{name}}!</h1>
    <!-- Display user information and blog posts if needed -->

    {{#each BlogPosts}}
    <div class="blog-post">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
    </div>
    {{/each}}
    {{/content}}