
<div>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h2>Dashboard</h2>
    <h3>Welcome, {{user.name}} ({{user.email}})</h3>
    <!-- Add a Logout button -->
    <form action="/logout" method="POST">
        <button type="submit">Log Out</button>
    </form>
</body>
</div>

